@import "./_variables.scss";
@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-Light.woff2') format('woff2'),
        url('../../fonts/Calcutta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-Italic.woff2') format('woff2'),
        url('../../fonts/Calcutta-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Calcutta-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-Bold.woff2') format('woff2'),
        url('../../fonts/Calcutta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-MediumItalic.woff2') format('woff2'),
        url('../../fonts/Calcutta-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-LightItalic.woff2') format('woff2'),
        url('../../fonts/Calcutta-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-SemiBold.woff2') format('woff2'),
        url('../../fonts/Calcutta-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-Medium.woff2') format('woff2'),
        url('../../fonts/Calcutta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-SemiBoldItalic.woff2') format('woff2'),
        url('../../fonts/Calcutta-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calcutta';
    src: url('../../fonts/Calcutta-Regular.woff2') format('woff2'),
        url('../../fonts/Calcutta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-Bold.woff2') format('woff2'),
//         url('../../fonts/Poppins-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-Black.woff2') format('woff2'),
//         url('../../fonts/Poppins-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-BlackItalic.woff2') format('woff2'),
//         url('../../fonts/Poppins-BlackItalic.woff') format('woff');
//     font-weight: 900;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-BoldItalic.woff2') format('woff2'),
//         url('../../fonts/Poppins-BoldItalic.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
//         url('../../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-ExtraBold.woff2') format('woff2'),
//         url('../../fonts/Poppins-ExtraBold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-ExtraLight.woff2') format('woff2'),
//         url('../../fonts/Poppins-ExtraLight.woff') format('woff');
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
//         url('../../fonts/Poppins-ExtraLightItalic.woff') format('woff');
//     font-weight: 200;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-Italic.woff2') format('woff2'),
//         url('../../fonts/Poppins-Italic.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-LightItalic.woff2') format('woff2'),
//         url('../../fonts/Poppins-LightItalic.woff') format('woff');
//     font-weight: 300;
//     font-style: italic;
    
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-Medium.woff2') format('woff2'),
//         url('../../fonts/Poppins-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
    
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-Light.woff2') format('woff2'),
//         url('../../fonts/Poppins-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
    
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-SemiBold.woff2') format('woff2'),
//         url('../../fonts/Poppins-SemiBold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-Regular.woff2') format('woff2'),
//         url('../../fonts/Poppins-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
    
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-MediumItalic.woff2') format('woff2'),
//         url('../../fonts/Poppins-MediumItalic.woff') format('woff');
//     font-weight: 500;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-Thin.woff2') format('woff2'),
//         url('../../fonts/Poppins-Thin.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-ThinItalic.woff2') format('woff2'),
//         url('../../fonts/Poppins-ThinItalic.woff') format('woff');
//     font-weight: 100;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
//         url('../../fonts/Poppins-SemiBoldItalic.woff') format('woff');
//     font-weight: 600;
//     font-style: italic;
// }

// font-icon
// @font-face {
//     font-family: 'icomoon';
//     src:  url('../../fonts/icomoon.eot?mzlgcc');
//     src:  url('../../fonts/icomoon.eot?mzlgcc#iefix') format('embedded-opentype'),
//       url('../../fonts/icomoon.ttf?mzlgcc') format('truetype'),
//       url('../../fonts/icomoon.woff?mzlgcc') format('woff'),
//       url('../../fonts/icomoon.svg?mzlgcc#icomoon') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: block;
//   }
  
//   [class^="icon-"], [class*=" icon-"] {
//     /* use !important to prevent issues with browser extensions that change fonts */
//     font-family: 'icomoon' !important;
//     // speak: never;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
  
//     /* Better Font Rendering =========== */
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//   }
  
//   .icon-melanoma-icon .path1:before {
//     content: "\e900";
//     color: rgb(255, 255, 255);
//   }
//   .icon-melanoma-icon .path2:before {
//     content: "\e901";
//     margin-left: -2.6220703125em;
//     color: $lightblue;
//   }
//   .icon-melanoma-icon .path3:before {
//     content: "\e902";
//     margin-left: -2.6220703125em;
//     color: $lightblue;
//   }
  